/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*
.button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}
*/

.button {
	-fx-background-color: 
        #135a83,
        linear-gradient(#5d8eba 0%, #5d8eba 49%, #5d8eba 50%, #5d8eba 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
	
}

.button:pressed{
	-fx-background-color: #c4d600;
    -fx-text-fill: black;	
    
}

#Reset{
	/*-fx-background-color: #FEFEFE ;*/
        /*linear-gradient(#BFBDBD, #868686),
        linear-gradient(#a7a7a7, #9e9e9e),
        linear-gradient(#d4d3d3, #a8a8a8),
        linear-gradient(b3b0b0 0%, #909090 50%, #767676 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 130;
    -fx-text-fill: #002080;
    -fx-opacity: 0.95;
	-fx-font-size: 16pt;
    -fx-background-color: yellow;	
}

#mainpane{
	-fx-background-color: 
      #003C71,
      radial-gradient(center 70% 30%, radius 100%, #00aeef, #20243d);
}

#Label1{
	-fx-font-size: 25pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

#Label2{
	-fx-font-size: 12pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.8;	
}

#Label3{
	-fx-font-size: 12pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.8;	
}

#label64{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;	
    -fx-font-weight: bold;
}

#label32{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#label16{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#label8{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#label4{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#label2{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;	
    -fx-font-weight: bold;	
}

#label1{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#result{
	-fx-font-size: 25pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#Label11{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#Label22{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#Label4{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;		
    -fx-font-weight: bold;
}

#Label8{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;	
    -fx-font-weight: bold;	
}

#Label16{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;	
    -fx-font-weight: bold;	
}

#Label32{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;	
    -fx-font-weight: bold;	
}

#Label64{
	-fx-font-size: 20pt;
    -fx-font-family: "Intel Clear Pro Bold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;	
    -fx-font-weight: bold;	
}